# Equivalências lógicas 

Neste caderno interativo, faremos a verificação de algumas equivalências lógicas.

In [1]:
import ttg

## Distributiva: caso 1

$p \vee (q \wedge r) \equiv (p \vee q) \wedge (p \vee r)$

Lado esquerdo: $p \vee (q \wedge r)$

In [2]:
tbl = ttg.Truths(['p','q','r'],['q and r','p or (q and r)'],ints=False)
tbl.as_pandas()

       p      q      r q and r p or (q and r)
1   True   True   True    True           True
2   True   True  False   False           True
3   True  False   True   False           True
4   True  False  False   False           True
5  False   True   True    True           True
6  False   True  False   False          False
7  False  False   True   False          False
8  False  False  False   False          False

Lado direito: $(p \vee q) \wedge (p \vee r)$

In [4]:
tbl = ttg.Truths(['p','q','r'],['p or q','q or r','(p or q) and (p or r)'],ints=False)
tbl.as_pandas()

       p      q      r p or q q or r (p or q) and (p or r)
1   True   True   True   True   True                  True
2   True   True  False   True   True                  True
3   True  False   True   True   True                  True
4   True  False  False   True  False                  True
5  False   True   True   True   True                  True
6  False   True  False   True   True                 False
7  False  False   True  False   True                 False
8  False  False  False  False  False                 False

Diretamente, poderíamos verificar a equivalência.

In [5]:
tbl1 = ttg.Truths(['p','q','r'],['p or (q and r)','(p or q) and (p or r)'],ints=False)
tbl1.as_pandas()

       p      q      r p or (q and r) (p or q) and (p or r)
1   True   True   True           True                  True
2   True   True  False           True                  True
3   True  False   True           True                  True
4   True  False  False           True                  True
5  False   True   True           True                  True
6  False   True  False          False                 False
7  False  False   True          False                 False
8  False  False  False          False                 False

## Distributiva: caso 2

$p \wedge (q \vee r) \equiv (p \wedge q) \vee (p \wedge r)$

In [6]:
tbl2 = ttg.Truths(['p','q','r'],['p and (q or r)','(p and q) or (p and r)'],ints=False)
tbl2.as_pandas()

       p      q      r p and (q or r) (p and q) or (p and r)
1   True   True   True           True                   True
2   True   True  False           True                   True
3   True  False   True           True                   True
4   True  False  False          False                  False
5  False   True   True          False                  False
6  False   True  False          False                  False
7  False  False   True          False                  False
8  False  False  False          False                  False

## 1a. lei de _De Morgan_

$\sim (p \wedge q) \equiv \sim p \, \vee \, \sim q$

In [7]:
tbl3 = ttg.Truths(['p','q'],['-(p and q)','-p or -q'],ints=False)
tbl3.as_pandas()

       p      q -(p and q) -p or -q
1   True   True      False    False
2   True  False       True     True
3  False   True       True     True
4  False  False       True     True

## 2a. lei de _De Morgan_

$\sim (p \vee q) \equiv \sim \, p \wedge \, \sim q$

In [8]:
tbl4 = ttg.Truths(['p','q'],['-(p or q)','-p and -q'],ints=False)
tbl4.as_pandas()

       p      q -(p or q) -p and -q
1   True   True     False     False
2   True  False     False     False
3  False   True     False     False
4  False  False      True      True

## Classificação das proposições

Podemos avaliar se a proposição é uma _tautologia_, _contradição_ ou _contingência_ usando a função `valuation` do módulo `ttg` da seguinte forma: 

```python 
tbl.valuation(col_number=-1) 
```
ou, simplesmente,

```python 
tbl.valuation(-1) 
```

O valor `-1` refere-se à última coluna da tabela-verdade gerada. Este método deve retornar um dos três valores: 

1. 'Tautology'
2. 'Contradiction'
3. 'Contingency'

Vejamos os casos estudados até agora:

In [10]:
T = [tbl1,tbl2,tbl3,tbl4]
c = [t.valuation(-1) for t in T]
c

['Contingency', 'Contingency', 'Contingency', 'Contingency']

Isto é, todas as equivalências são _contingências_.

## Equivalências lógicas com condicionais 

$p \rightarrow q \equiv \sim p \vee q$

In [11]:
tbl5 = ttg.Truths(['p','q'],['p => q','-p or q'],ints=False)
tbl5.as_pandas()

       p      q p => q -p or q
1   True   True   True    True
2   True  False  False   False
3  False   True   True    True
4  False  False   True    True

In [12]:
tbl5.valuation(-1)

'Contingency'

$p \rightarrow q \equiv \sim q \rightarrow \sim p$

In [16]:
tbl6 = ttg.Truths(['p','q'],['p => q','-q => -p'],ints=False)
tbl6.as_pandas()

       p      q p => q -q => -p
1   True   True   True     True
2   True  False  False    False
3  False   True   True     True
4  False  False   True     True

In [17]:
tbl6.valuation(-1)

'Contingency'

## Equivalências lógicas com bicondicionais 

$p \leftrightarrow q \equiv (p \rightarrow q) \wedge (q \rightarrow p)$

In [15]:
tbl7 = ttg.Truths(['p','q'],['p = q','(p => q) and (q => p)'],ints=False)
tbl7.as_pandas()

       p      q  p = q (p => q) and (q => p)
1   True   True   True                  True
2   True  False  False                 False
3  False   True  False                 False
4  False  False   True                  True

In [18]:
tbl7.valuation(-1)

'Contingency'

**Exercício.** 

Use o módulo `ttg` para:

1. Construir a tabela-verdade detalhada de cada uma das equivalências lógicas apresentadas nos slides da Aula 3.
2. Classificar as proposições usando `valuation`.